In [5]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('ToneAnalyzer.csv')

In [3]:
df.head()

,Unnamed: 0,usernameTweet,text,nbr_retweet,nbr_favorite,nbr_reply,datetime,is_reply,is_retweet,joy,analytical,sadness,confident,tentative,fear,anger
0,0,Naveens27368191,DIPR COVID19 KarnatakaDIPR MigrantKA I h...,0,1,2,2020-05-06 14:58:38,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,wenagrutas,Oh They deserve it because are working hard a...,1,3,0,2020-05-27 17:22:38,True,False,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,YouthSefton,Everyone is going to find the current Covid19 ...,7,4,0,2020-06-11 17:06:08,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,DemuxAcademy,Do you always tend to get clumsy in an awkward...,1,0,0,2020-05-13 12:00:02,False,False,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,4,perezlevi,Of course time slot matters but substitutes le...,0,0,0,2020-05-31 00:02:25,True,False,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.replace(to_replace =np.nan, 
                 value =False)
df = df.replace(to_replace =1, 
                 value =True)

In [39]:
anger = pd.DataFrame()
anger['Anger Tweets'] = df['text'][df['anger']==True]
anger.reset_index(drop=True, inplace=True)
anger.to_csv('angerTweets.csv')

In [40]:
joy = pd.DataFrame()
joy['joy Tweets'] = df['text'][df['joy']==True]
joy.reset_index(drop=True, inplace=True)
joy.to_csv('joyTweets.csv')

In [41]:
analytical = pd.DataFrame()
analytical['analytical Tweets'] = df['text'][df['analytical']==True]
analytical.reset_index(drop=True, inplace=True)
analytical.to_csv('analyticalTweets.csv')

In [42]:
sadness = pd.DataFrame()
sadness['sadness Tweets'] = df['text'][df['sadness']==True]
sadness.reset_index(drop=True, inplace=True)
sadness.to_csv('sadnessTweets.csv')

In [43]:
confident = pd.DataFrame()
confident['confident Tweets'] = df['text'][df['confident']==True]
confident.reset_index(drop=True, inplace=True)
confident.to_csv('confidentTweets.csv')

In [44]:
tentative = pd.DataFrame()
tentative['tentative Tweets'] = df['text'][df['tentative']==True]
tentative.reset_index(drop=True, inplace=True)
tentative.to_csv('tentativeTweets.csv')

In [45]:
fear = pd.DataFrame()
fear['fear Tweets'] = df['text'][df['fear']==True]
fear.reset_index(drop=True, inplace=True)
fear.to_csv('fearTweets.csv')